<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fantasy Forum</title>
</head>
<body>
  <%- include('../partials/header') %>


      <% if (user) { %>
        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
      <% } else { %>
        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
      <% } %> 
     <ul>
    <% fposts.forEach(post=>{%>
      <form id="del" action="/fposts/<%=post.id%>/delete" method="post">
        <button type="submit">DELETE</button>
      </form>
      <h2 class="forum">
      <a href="/fposts/<%= post._id%>">
        <%= post.title%>
        <div>
        <%= post.description%>
      </div>
      </h2>
    <%})%>
    </ul>
</body>
</html>




       
        