<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%- include('../partials/header') %>
  <title>Fantasy Forum</title>
</head>
<body>

  <div id="fantpost">
<h1 class="title"><%= fpost.title%></h1>
<h2 class="description"><%= fpost.description%></h2>
  </div>
<div class="card-container">
  <div class="comm">
    <label>COMMENTS:</label>
    <%fpost.comments.forEach(comment=>{%>
      <h3><%=comment.comment%></h3>
    <%})%>
   </div>
   <div class="card">
    <form id="add-comment-form" method="POST"
    action="/comments/<%= fpost._id %>/comments">
    <label>Add Comment:</label>
    <textarea name="comment"></textarea>
    <input type="submit" value="Add Comment">
  <div class="card">
  <form action="/fposts/<%=fpost._id%>" method="POST">
    <label>Edit Post:</label>
    <div class="upd">Edit Title</div>
    <input type="text" name="title">
    <div class="upd">Edit Discription</div>
    <textarea type="text" name="description"></textarea>
    <button type="submit">update</button>
  </form>
  </div>
</form>
 </div>
</div>
</body>
</html>


