<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= fpost.title %></div>
  <div>Sport: </div>
  <div><%= fpost.sport %></div>
  <div>Remarks</div>
  <div><%= fpost.remarks %></div>

</section>



<br><br><h2>Comments</h2>
<form id="add-comment-form" method="POST"
  action="/fposts/<%= fpost._id %>/comments">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>

<% if (fpost.comments.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% var total = 0 %>
      <% fpost.comments.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
          <td><strong><%= (total / fpost.comments.length).toFixed(1) %></strong></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>


<%- include('../partials/footer') %>