<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%- include('../partials/header') %>
  <title>Fantasy Forum</title>
</head>
<body>

<h1><%= fpost.title%></h1>
<h1><%= fpost.description%></h1>
<h1>
<div class="card-container">
<div class="card">
  <form action="/fposts/<%=fpost._id%>" method="POST">
    <input type="text" name="title">
    <textarea type="text" name="description"></textarea>
    <button type="submit">update</button>
  </form>
</div>
<div class="card">
  <%fpost.comments.forEach(comment=>{%>
    <h3><%=comment.comment%></h3>
  <%})%>

</div>
<div class="card">
  <form id="add-comment-form" method="POST"
  action="/comments/<%= fpost._id %>/comments">
  <label>Comment:</label>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Comment">
</form>
</div>
</div>
</body>
</html>


